<div class="container w-50 mt-2 p-4 bg-secondary">
    <h3 class="mb-3 text-white text-center">Chat de Soporte</h3>
    <div class="d-flex flex-column">
        <div class="m-2">
            <div class="p-1">
                <ul id="roomChat" class="bg-light"></ul>
            </div>
        </div>
        <div>
            <form id="formChat">
                <div class="form-group ">
                <input type="email" name="email" placeholder="Ingrese email" class="form-control mt-1" required/>
                </div>
                <div class="form-group">
                <input name="text" id="textarea" placeholder="Ingrese su mensaje" class="form-control mt-1" required/>
                </div>
                <button type="submit" class="btn btn-warning mt-2 container">Enviar</button>
            </form>
        </div>
    </div>
</div>