<div class="container w-50 p-4 bg-secondary">
    <h3 class="mb-3 text-white">Ingrese su producto</h3>
  <form id="formAdd">
    <div class="form-group">
      <input name="name" id="name" placeholder="Ingrese titulo" class="form-control mt-1" required/>
    </div>
    <div class="form-group">
      <input name="price" id="price" placeholder="Ingrese Precio" class="form-control mt-1" required/>
    </div>
    <div class="form-group">
      <input name="thumbnail" id="thumbnail" placeholder="Ingrese Url Imagen" class="form-control mt-1" required/>
    </div>
      <button type="submit" class="btn btn-warning mt-2 container">Enviar</button>
  </form>
</div>