<div class="container w-50 p-4 mt-2 bg-secondary">
<h3 class="mb-3 text-white">Lista de Productos</h3>
<div class="table-responsive">
<table class="table table-striped text-center">
  <thead class="bg-light">
    <tr>
        <th scope="col" colspan="3">Nombre</th>
        <th scope="col" colspan="3">Precio</th>
        <th scope="col" colspan="2">Foto</th>
        <th scope="col" colspan="1">Acciones</th>
    </tr>
  </thead>
  <tbody id="listProducts" class="table-light">
  </tbody>
</table>
</div>
</div>